@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.roboto-bolds {
  font-family: "Roboto", sans-serif;
  font-weight: 1000;
  font-style: normal;
}
.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.logo-icon{
  width: 25px;
 
}
.navbar{
  background-color: #465365;
}


.contact{
  text-decoration: none;
}

 
.email{
 color: #9ea3ac;
 text-decoration: none;
}


.number,.email{
  margin: 0;
  padding: 0;
}
.language{
 
    margin-left: 60px;
   
}
.my-background{
background-color: #465365;
}

.link-background{
  background-color: transparent !important;
}

.logo-icon{
  margin-left: 10px;
}
.custom-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
 
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border: 2px solid #ffdda1;
  box-shadow: 0 0 10px 5px rgba(255, 221, 161, 0.7);
  width: 250px;
  height: 66px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
 
}

.custom-button:hover {
  background-color: #ffdda1;
  color: black;
  box-shadow: 0 0 10px 5px rgba(255, 221, 161, 0.7);
}

.arrow {
  margin-left: 10px;
  font-size: 20px;
  transition: transform 0.3s;
}

.custom-button:hover .arrow {
  transform: translateX(5px);
}




.sidebar {
  height: 100vh;
  width: 0px;
  position: fixed;
  top: 0;
  left: 0;
 background-color: #26282b;
  padding-top: 20px;
  z-index: 999999;
  overflow-x: hidden !important;
  transition: all 1.2s ease;
}
.sidebar.aktiv{
  width: 440px !important;
}


.shirket{
  width:100px !important ;

}
.fabars{
  font-size: 40px;
background-color: transparent;
border: none;
}
.elaqe-gmail:hover{
  color: #ffdda1 !important;
  transition: all ease .6s;
}
.elaqe-gmail{
  text-decoration: none !important;
}
.number:hover{
  color: #ffdda1 !important;
  transition: all ease .6s;
}
.language-ua:hover{
  color: #ffdda1 !important;
  transition: all ease .6s;
}
.language-en:hover{
  color: #ffdda1 !important;
  transition: all ease .6s;
}
.navigation-links:hover{
  color: #ffdda1 !important;
  transition: all ease .6s;
}

.socialmedia-icon{
  font-size: 30px;
  
}
.header-logo{
  width: 250px;
}
.mobile-menu{
  height: 100vh;
  width: 0%;
  position: fixed;
  z-index: 99999;
 background: rgba(0,0,0,0.6);
 overflow-x: hidden;
transition: all 1.2s ease;
  
}
.mobiles-links a {
  color: #fff;
  text-decoration: none;
  flex-direction: column;
  font-size: 40px;
}
.mobiles-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.mobile-menu.aktive{
  width: 100%;
 
}
.iconclose{
  position: absolute;
  right: 40px;
  top: 40px;
  font-size: 40px;
}

.introduction{
  background-image: url('/assets/images/introduction/ouse.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
 
height: 90vh;
}
.introduction1{
  background-image: url('/assets/images/introduction/home2.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
 
height: 90vh;
}
.introduction2{
  background-image: url('/assets/images/introduction/home3.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
 
height: 90vh;
}
.introduction-about .intro-h1,.intro-h01,.intro-h001{
  color: #ebcfa7;
  
}
.intro-h1{
  font-size: 57px;
}
.intro-h01{
  font-size: 48px;
}
.intro-h001{
  font-size: 52px;
}
.intro-icon1{
  width: 70px;
  
}
.intro-h1,.intro-h01,.intro-h001{
  padding-top: 150px !important;
}
.intro-icon1{
  margin-left: 35px;
    
  }
 
 
 .creative-build-right-side h2{
  color: #d4d4d5;
 }
  .pozniaky{
    color: #9f8054;
  }
  .creative-build-right-side  h6{
    color: #465365;
  }
  .see-pro{
    padding-top: 10px;
  }
  .see-projects h4{
    padding-top: 20px;
  }
  .living-h2{
    font-size: 24px;
  }
  .see-project-link:hover{
    color: #ffdda1 !important;
    transition: all ease .6s;

  }
  .static-num{
    color: #d4d4d5;

  }
 .propetry-h2{
  color: #9f8054;
 }

 .static{
  background-color: #f9f9f9;
 }
 .smaller-h4{
  font-size: 21px;
 }
 .shirket-logo{
  width: 250px;
  
 }
 .melumat1-minute{
font-size: 25px;
 }
 .melumatlar{
  margin-left: 130px;
 }
 .shirket-logo{
  margin-left: 60px;
 }
 .creative-build-right-side{
  padding-top: 10px;
 }
 .gallery-h3{
  color: #9f8054;

 }
 .gallery-03{
  color: #d4d4d5;

 }
 .all-gallery{ text-decoration: none;}

 .all-gallerys:hover{
  color: #ffdda1 !important;
  transition: all ease .6s;
 }
 .fa-chevron-right {
  transition: transform 0.3s ease;
}

.all-gallery:hover .fa-chevron-right {
  transform: translateX(5px);
}
.calculator-h4:hover .fa-chevron-right {
  transform: translateX(5px);
}
.see-project-link:hover .fa-chevron-right {
  transform: translateX(5px);
}
.melumat1{

  padding: 10px;
}
.gallery-right-side img{
  width: 300px;

 }


 .gallery-right-side img {
  padding-top: 20px;
 }
 .gallery-property{
  font-size: 36.2px;
 }
 .family-h2{
  color: #9f8054;
 }
 .calculator-h4{
  text-decoration: none;
 }
 .calculator-icon{
  width: 40px;
}
.bank2{
  margin-left: 40px;
 }
 .space-calculator{
  color: #000 !important;
  
 }
 .space-calculator:hover{
  color: #ffdda1 !important;
  transition: all ease .6s;
 }
 .homepark-living{
  font-size: 33.1px;
 }
 .color{
  color: #9f8054;

 }
 .room-right-side img{
  width: 100%;
 }
 .room-length1 button,.room-length2 button,.room-length3 button{
  background-color: transparent;
  border: none; 

 }
 .room-length1 h5:hover,.room-length2 h5:hover,.room-length3 h5:hover{
  color: #ffdda1 !important;
  transition: all ease .6s;
 }

.umumifamily{
  background-image: url('/assets/images/Family-photos/download.jpg');
  background-size: cover;
  background-position: center;
 
 width: 100%;
 height: 80vh;
 position: relative; 

}
.family2-right-side{
  width: 500px !important;
  height: 510px;
background-color: #9f8054;
  
}
.aile-h2{
  color:#b29976;

}
.aile-h02{
  color: #ebcfa7;
 
}
.family2-right-side{
  margin-top: 50px !important;

}
.male{
  color: #c8c9ca;
  border-bottom: 1px solid #ccc;
  letter-spacing: 2px;
}
.males{
  color: #c8c9ca;
  
  letter-spacing: 2px;
}

.title:hover{
  color: #ffdda1 !important;
  transition: all ease .6s;
}
.xeberlerin {
  padding-top: 130px;
}

#hero {
  position:relative;
}

#hero video {
  height:100vh;
  width:100%;
  background-position:absolute;
  z-index:10;
  object-fit:cover;
}

#hero .content {
  height:100%;
  width:100%;
  z-index:20;
  position:absolute;
  top:0;
  left:0;
  
}


.services-icon-master img{
width: 40px;

}
.services-icon-master{
  border: 1px solid rgba(255, 255, 255, 0.3); 
 
  
 width: 180px !important;

padding: 10px !important;
}
.services-icon-master1 img{
width: 40px;

}
.services-icon-master1{
  border: 1px solid rgba(255, 255, 255, 0.3); 
 
  
 width: 180px !important;

padding: 10px !important;
}
.services-icon-master h6, .services-icon-master1 h6{
  font-size: 12px;
}
.sertifikat-h2{
  font-size: 39px;
}
.footer-upside{
  background-color: #9f8054;
  padding: 50px;
  z-index: 99999 !important;
  position: relative; 

 
}
.footer-upside img{
  width: 60px;
}
.footer-text{
  margin-left: 40px;
  padding-top: 20px;
}
.footer{
  background-color: #26282b;
 
 
  
}
.footer-gmail{
  color: #8d8e90;
}
.footer-links p:hover{
  color: #ffdda1 !important;
  transition: all ease .6s;
}
.footer-end{
  color: #c8c9ca;
  border-bottom: 1px solid #ccc;
  
}
.footer-logo{
  width: 100%;
}
.footer{
  padding-top: 150px;
  margin-top: -100px;
}
.socialmedia-icon {
  flex: 1; 
  text-align: center; 
}
.npm-text{
 display: flex !important;
 justify-content: center !important;
 align-items: center !important;
}
@media(min-width:320px) and (max-width:374px){
  .header-logo{
    width: 220px;
  }
  .intro-h1{
    padding-top: 100px !important;
  }
  .introduction-about .intro-h1{
  
    font-size: 46px;
  }
  .intro-h2{
    font-size: 20px;
  }
  .intro-h02{
    font-size: 18px;
  }
  .intro-h002{
    font-size: 23px;
  }
 .custom-button{
  font-size: 15px;
  width: 200px;
 }


 
 .intro-icon1{
margin-left: 24px;
}
.introduction-about .intro-h01{
  
  font-size: 39px;
  padding-top: 100px !important;
}
.intro-h001{
  font-size: 42px;
  padding-top: 100px !important;
}
.living-h2{
  font-size: 19px;
}
.smaller-h4{
  font-size: 17px;
}
.shirket-logo{
  width: 270px !important;
 }
 .melumatlar{
  margin-left: 80px;
 }
 .shirket-logo{
  margin-left: 1px;
 }
 .creative-build-right-side{
  padding-top: 10px;
 }
 .gallery-right-side img{
  width: 100%;
 }
 .gallery-right-side img {
  width: 230px !important;
  padding-top: 20px;
 }
 .gallery-property{
  font-size: 29px;
 }
 .lux-living{
  font-size: 19px;
 }
 .static-property{
  font-size: 30px !important;
 }
 .bank1,.bank2{
  width: 130px;
 }
 .bank2{
  margin-left: 29px
 }
 .homepark-living{
  font-size: 26.7px;
 }
 .space-calculator{
  font-size: 17px;
 }
 .see-project-link{
  font-size: 20px;
 }
 .room-right-side img{
  width: 100%;
 }
 .room-left-side h1{
  font-size: 26px
 }
 .room-left-side p{
  font-size: 14px
 }
 .family2-right-side{
  margin-top: 1px ;

}
#hero video{
  height: 220vh;
}
.xeberlerin{
  padding-top: 200px;
}
.sertifikat-h2{
  font-size: 31px;
}
}

@media(min-width:768px) and (max-width:990px){
  .intro-h1,.intro-h01,.intro-h001{
    padding-top: 240px !important;
  }
  .intro-icon1{
    margin-left: 35px;
      
    }
    .custom-button{
      width: 250px;
   height: 66px;
    }
    .intro-h01{
      font-size: 65px;
    }
    .intro-h001{
      font-size: 55px;
    }
    .living-h2{
      font-size: 22px;
    }
    .smaller-h4{
      font-size: 19px;
    }
    .shirket-logo{
      width: 270px !important;
     }
     .melumatlar{
      margin-left: 120px;
     }
     .shirket-logo{
      margin-left: 1px;
     }
     .creative-build-right-side{
      padding-top: 1px;
     }
     .gallery-right-side img{
      width: 100%;
     }
     .gallery-right-side img {
      
      padding-top: 55px;
     }
     .static-property{
      font-size: 40px !important;
     }
     .melumat1 h6{
      font-size: 20px
     }
     .bank2{
      margin-left: 29px
     }
     .homepark-living{
      font-size: 30.1px;
     }
     .space-calculator{
      font-size: 21px;
     }
     .room-right-side img{
      width: 100%;
     }
     .family2-right-side{
      margin-top: 150px !important;
    
    }
     
    .content{
      padding-top: 150px;
    }
    .services-icon-master,.services-icon-master1{
      margin-left: 40px;
    }
    .content h2{
      text-align: center;
      padding-top: 20px;
    }
    .services-icon-master h6,.services-icon-master1 h6{
      font-size: 18px;
    }
  
    .sertifikat-img img{
      width: 110px ;
   margin-left: 60px;
    }
    .sertifikat-h2{
      font-size: 27px;
    }
    .fa-youtube{
    display: none;
    }
    .building-footer{
      display: none;
    }
}
@media(min-width:991px){
  .sidebar img{
  width: 300px;
  
  }
  
  .header-logo{
    width: 300px;
  }
  .introduction-about .intro-h1,.intro-h01,.intro-h001{
  
    font-size: 70px !important;
  }
  .intro-icon1{
    margin-left: 40px;
  }
  .intro-h1,.intro-h01,.intro-h001{
    padding-top: 180px !important;
  }
  .custom-button{
    width: 250px;
 height: 66px;
  }
  .creative-build-img{
    width: 525px !important;
   }
   .creative-build-right-side{
    padding-top: 200px;
   }
   .shirket-logo{
    width: 230px !important;
   }
  .living-h2{
    font-size: 40px;
  }
  .melumatlar{
    margin-left: 1px;
   }
   .shirket-logo{
    margin-left: 1px;
   }
   .melumatlar{
    text-align: center;
  
  }
  .gallery-right-side img{
   width: 230px;
   margin-left: 100px;

  }
.family-right-side{
  padding-top: 170px;
}
.calculator-icon{
  width: 40px;
}
.bank2{
  margin-left: 35px;
}
.female-h6{
  font-size: 18px;
 }
 .square{
  margin-left: 20px;
 }
 .room-right-side img{
  width: 550px;
 }
 .family2-right-side{
  width: 500px !important;
  height: 510px;
  margin-top: 150px !important;

  
}
.family2-right-side{
  margin-top: 150px !important;

}
.content{
  padding-top: 150px;
}
.services-icon-master{
  margin-left: 40px;
}
.sertifikat-img img {
  width: 200px;
  margin-left: 120px !important;
}
.sertifikat-h2{
  font-size: 32px;
}
.footer-logo{
  width: 250px;
}
.footer{
  margin-top: -100px;
  padding-top: 250px;
}

}
@media(min-width:1279px) and (max-width:1281px){
  .creative-build-right-side{
    padding-top: 130px;
   }
   .family-right-side{
    padding-top: 100px;
   }
   .services-icon-master{
    margin-left: 10px;
  }
  .sertifikat-img img {
    width: 180px;
    margin-left: 60px !important;
  }
}